<style>
    .jumbotron {
        padding-top:50px;
        background-color: lightblue;
    }
</style>

@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <div class="container">
        <h2>@ViewBag.Title.</h2>
        <br />
        <p>Mvc Movies Web Application with ASP.NET Framework</p>
    </div>
</div>

