<style>
    .jumbotron {
        background-color: lightcoral;
        padding-top:50px;
    }
</style>

<div class="jumbotron">
    <div class="container">

        @{
            ViewBag.Title = "Contact";
        }
        <h2>@ViewBag.Title.</h2>
        <br />
        <address>
            Rahat<br />
            18/125<br />
            <abbr title="Phone">Phone:</abbr>
            +972508868312
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:z.i.d@msn.com">z.i.d@msn.com</a><br />
        </address>
    </div>
</div>
